html {
  background-image: radial-gradient(
    circle,
    rgba(186, 178, 147, 1) 0%,
    rgba(188, 189, 154, 1) 0%,
    rgba(120, 140, 140, 1) 100%
  );
}
button {
  cursor: pointer;
}

.form-inline {
  justify-content: right;
  align-items: flex-end;
}
.img-description {
  margin-top: 30px;
  max-width: 200px;
  max-height: 200px;
  margin: 30px auto 20px auto;
  align-self: center;
}
.img-icon {
  max-width: 30px;
  max-height: 30px;
}
@media screen and (max-width: 1000px) {
  .img-description {
    display: none;
  }
  .form-control {
    width: 60%;
    margin-right: 0.2rem;
  }
  .navbar-brand {
    margin-right: 0.2rem;
  }
  .form-inline {
    width: 80%;
    justify-content: right;
    align-items: flex-end;
  }
}
