<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newspaper</title>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light mb-3">
      <div>
        <a class="navbar-brand">
          <img src="/newspaper/img/news.png" class="img-icon" />
          Newspaper
        </a>
        <a class="navbar-brand" href="https://polopalay.github.io">
          <i class="far fa-home-lg"></i>
        </a>
        <a class="navbar-brand" href="https://polopalay.github.io/newspaper/">
          Most New
        </a>
      </div>
      <form action="" id="form" onsubmit="writeKey(event)" class="form-inline">
        <input
          class="form-control mr-sm-2"
          id="search"
          required
          maxlength="50"
          placeholder="Search"
        />
        <input type="submit" class="btn btn-outline-success" value="Search" />
      </form>
    </nav>
  </body>
</html>
